{% extends 'base.html.twig' %}

{% block body %}

    <div id='map'></div>
    <div id="features" style="display: none;margin-top: 53px">
      <div class="thumb-map">
        <div style="display: flex;">
          <a href="photos/4b881a30-c7dd-4c6e-afbf-4334b0fcd398">
            <img src="/media/42aa233e95cfe3b60262ab40603dad62.jpeg"  style="width: 260px;" classs="map-photo" alt="" />


            <div class="rect passive-rect rect-type-33" style="top: 32.6705%; left: 75.4967%; width: 4.2534%; height: 19.4602%; border-color: rgb(0, 255, 0); display: none; opacity: 0.75;"></div>
            <div class="rect passive-rect rect-type-33" style="top: 31.25%; left: 58.0581%; width: 4.466%; height: 20.5966%; border-color: rgb(0, 255, 0); display: none; opacity: 0.75;"></div>
            <div class="rect passive-rect rect-type-33" style="top: 28.4091%; left: 0%; width: 5.3167%; height: 20.8807%; border-color: rgb(0, 255, 0); display: none; opacity: 0.75;"></div>
            <div class="rect passive-rect rect-type-33" style="top: 29.6875%; left: 19.9907%; width: 3.6153%; height: 20.4545%; border-color: rgb(0, 255, 0); display: none; opacity: 0.75;"></div>
            <div class="rect passive-rect rect-type-33" style="top: 29.2614%; left: 25.0947%; width: 3.4027%; height: 20.8806%; border-color: rgb(0, 255, 0); display: none; opacity: 0.75;"></div>
            <div class="rect passive-rect rect-type-33" style="top: 29.2614%; left: 25.0947%; width: 3.4027%; height: 20.8806%; border-color: rgb(0, 255, 0); display: none; opacity: 0.75;"></div>
            <div class="rect passive-rect rect-type-33" style="top: 31.108%; left: 44.2347%; width: 2.552%; height: 19.8863%; border-color: rgb(0, 255, 0); display: none; opacity: 0.75;"></div>
            <div class="rect passive-rect rect-type-33" style="top: 27.8409%; left: 48.7007%; width: 5.9547%; height: 24.0057%; border-color: rgb(0, 255, 0); display: none; opacity: 0.75;"></div>
            <div class="rect passive-rect rect-type-33" style="top: 30.6818%; left: 84.0034%; width: 6.38%; height: 21.5909%; border-color: rgb(0, 255, 0); display: none; opacity: 0.75;"></div>
            <div class="rect passive-rect rect-type-49" style="top: 57.5284%; left: 0%; width: 13.6107%; height: 17.1875%; border-color: rgb(0, 255, 0); display: none; opacity: 0.75;"></div>
            <div class="rect passive-rect rect-type-49" style="top: 58.5227%; left: 26.158%; width: 15.312%; height: 17.6137%; border-color: rgb(0, 255, 0); display: none; opacity: 0.75;"></div>
            <div class="rect passive-rect rect-type-49" style="top: 59.375%; left: 64.4381%; width: 15.95%; height: 16.6193%; border-color: rgb(0, 255, 0); display: none; opacity: 0.75;"></div>
            <div class="rect passive-rect rect-type-27" style="top: 12.9261%; left: 0%; width: 90.8088%; height: 12.5%; border-color: rgb(255, 255, 0); display: none; opacity: 0.75;"></div>
            <div class="rect passive-rect rect-type-30" style="top: 22.5852%; left: 0%; width: 98.2987%; height: 66.9034%; border-color: rgb(255, 0, 0); display: none; opacity: 0.75;"></div>

          </a>
        </div>
      </div>

      <aside class="menu items" style="margin: 20px;">
        <p class="menu-label">Отбелязани обекти</p>
        <ul class="menu-list">
          <li id="item-33" onmouseover="rectCtrl.showPassiveRects(33)" onmouseleave="rectCtrl.hidePassiveRects(33)">
            <a>
              <span class="tag item-color-mark" style="color: #00FF00;">•</span>
              Колона
              <span class="tag is-light"> 9 </span>
            </a>
          </li>
          <li id="item-49" onmouseover="rectCtrl.showPassiveRects(49)" onmouseleave="rectCtrl.hidePassiveRects(49)">
            <a>
              <span class="tag item-color-mark" style="color: #00FF00;">•</span>
              Прозорец с решетка
              <span class="tag is-light"> 3 </span>
            </a>
          </li>
          <li id="item-27" onmouseover="rectCtrl.showPassiveRects(27)" onmouseleave="rectCtrl.hidePassiveRects(27)">
            <a>
              <span class="tag item-color-mark" style="color: #FFFF00;">•</span>
              Надстройка
              <span class="tag is-light"> 1 </span>
            </a>
          </li>
          <li id="item-30" onmouseover="rectCtrl.showPassiveRects(30)" onmouseleave="rectCtrl.hidePassiveRects(30)">
            <a>
              <span class="tag item-color-mark" style="color: #FF0000;">•</span>
              Фасада
              <span class="tag is-light"> 1 </span>
            </a>
          </li>
        </ul>
        <a class="button is-text" onmouseover="rectCtrl.showAllPassiveRects()" onmouseleave="rectCtrl.hideAllPassiveRects()">Покажи всички</a>

      </aside>
      <a class="button is-warning mtb10"
         id="submit-button"
         style="margin: 0 20px 20px 20px;"
         href="photos/4b881a30-c7dd-4c6e-afbf-4334b0fcd398">
        <span class="icon is-small">
                          <i class="fas fa-plus"></i>
        </span><strong>Добави още обекти</strong></a>

    </div>

    <script>
      mapboxgl.accessToken = 'pk.eyJ1IjoicGhyZWVkb20iLCJhIjoiZ1p2dnNKVSJ9.NVLf3ZM0BDIiAYbYdXrMbQ';
      var map = new mapboxgl.Map({
        style: 'mapbox://styles/mapbox/light-v9',
        center: [23.326,42.703],
        zoom: 17.47,
        pitch: 45,
        bearing: -17.6,
        container: 'map'
      });

      // The 'building' layer in the mapbox-streets vector source contains building-height
      // data from OpenStreetMap.
      map.on('load', function() {
        // Insert the layer beneath any symbol layer.
        var layers = map.getStyle().layers;

        var labelLayerId;
        for (var i = 0; i < layers.length; i++) {
          if (layers[i].type === 'symbol' && layers[i].layout['text-field']) {
            labelLayerId = layers[i].id;
            break;
          }
        }

        map.addLayer({
          'id': '3d-buildings',
          'source': 'composite',
          'source-layer': 'building',
          'filter': ['==', 'extrude', 'true'],
          'type': 'fill-extrusion',
          'minzoom': 15,
          'paint': {
            'fill-extrusion-color': '#aaa',

            // use an 'interpolate' expression to add a smooth transition effect to the
            // buildings as the user zooms in
            'fill-extrusion-height': [
              "interpolate", ["linear"], ["zoom"],
              15, 0,
              15.05, ["get", "height"]
            ],
            'fill-extrusion-base': [
              "interpolate", ["linear"], ["zoom"],
              15, 0,
              15.05, ["get", "min_height"]
            ],
            'fill-extrusion-opacity': .6
          }
        }, labelLayerId);
        map.addSource('currentBuildings', {
          type: 'geojson',
          data: {
            "type": "FeatureCollection",
            "features": []
          }
        });
        map.addLayer({
          "id": "highlight",
          "source": "currentBuildings",
          'type': 'line',
          'minzoom': 15,
          'paint': {
            'line-color': '#f00',
            'line-width': 3
          }
        }, labelLayerId);
        map.on('click', '3d-buildings', function(e) {
          map.getSource('currentBuildings').setData({
            "type": "FeatureCollection",
            "features": e.features
          });
          map.on('click', '3d-buildings', function(e){
            var features = map.queryRenderedFeatures(e.point);

            $('#features').css({
              display: 'block'
            });
//            $('#features').append('' +
//              '                        <a href="photos/1feec702-4bf5-4530-b765-daf4397297b0">\n' +
//            '                            <img src="/media/250cab33711021c4060c9fd38df693c4.jpeg"  style="width: 260px; margin: 20px" classs="map-photo" alt="" />\n' +
//            '                        </a>\n' +
//            '                   ');

            //JSON.stringify(features, null, 2);
          });
        });
      });


    </script>
{% endblock %}