img.wo {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -webkit-transition: .2s;
    -moz-transition: .2s;
    transition: .2s;
}

img.wo:hover {
    filter: grayscale(0%);
    opacity: 1;
}