{% extends 'base.html.twig' %}

{% block body %}
    <div class="body-wrapper">

        <div class="tabs is-centered">
            <ul>
                <li class="chart-tab is-active"><a onclick="openChart()">Срещания на елементи</a></li>
                <li class="windows-pie-tab"><a onclick="openWindowsPie()">Прозорци</a></li>
                <li class="parter-pie-tab"><a onclick="openParterPie()">Партерен етаж</a></li>
            </ul>
        </div>


        <div id="chart-container" style="min-width: 310px; max-width: 800px; height: 800px; margin: 0 auto"></div>

        <div id="windows-pie-container" style="display: none;min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
        <div id="parter-pie-container" style="display: none;min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>


        <script>

            function openChart() {
              $('.chart-tab').addClass('is-active');
              $('.windows-pie-tab').removeClass('is-active');
              $('.parter-pie-tab').removeClass('is-active');
              $('#chart-container').show();
              $('#windows-pie-container').hide();
              $('#parter-pie-container').hide();
            }

            function openWindowsPie() {
              $('.chart-tab').removeClass('is-active');
              $('.windows-pie-tab').addClass('is-active');
              $('.parter-pie-tab').removeClass('is-active');
              $('#chart-container').hide();
              $('#windows-pie-container').show();
              $('#parter-pie-container').hide();
            }

            function openParterPie() {
              $('.chart-tab').removeClass('is-active');
              $('.windows-pie-tab').removeClass('is-active');
              $('.parter-pie-tab').addClass('is-active');
              $('#chart-container').hide();
              $('#windows-pie-container').hide();
              $('#parter-pie-container').show();
            }


            Highcharts.chart('chart-container', {
                chart: {
                    type: 'bar'
                },
                title: {
                    text: 'Срещания на елементи'
                },

                xAxis: {
                    categories: [
                        {% for element in elements_stats %}
                        '{{ element.name }}'{% if loop.last == false %},{% endif %}
                        {% endfor %}
                    ],
                    title: {
                        text: null
                    }
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: 'Брой срещания',
                        align: 'high'
                    },
                    labels: {
                        overflow: 'justify'
                    }
                },
                tooltip: {
                    valueSuffix: ' millions'
                },
                plotOptions: {
                    bar: {
                        dataLabels: {
                            enabled: true
                        }
                    }
                },
                legend: {
                    layout: 'vertical',
                    align: 'right',
                    verticalAlign: 'top',
                    x: -40,
                    y: 80,
                    floating: true,
                    borderWidth: 1,
                    backgroundColor: ((Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'),
                    shadow: true
                },
                credits: {
                    enabled: false
                },
                series: [{
                    data: [
                        {% for element in elements_stats %}
                        {{ element.count }}{% if loop.last == false %},{% endif %}
                        {% endfor %}

                    ]
                }]
            });



            Highcharts.chart('windows-pie-container', {
              chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                type: 'pie'
              },
              title: {
                text: 'Прозорци'
              },
              tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
              },
              plotOptions: {
                pie: {
                  allowPointSelect: true,
                  cursor: 'pointer',
                  dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                    style: {
                      color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                  }
                }
              },
              series: [{
                name: 'Прозорци',
                colorByPoint: true,
                data: [{
                  name: 'Нормални прозорци',
                  y: 57,
                  sliced: true,
                  selected: true
                }, {
                  name: 'Прозорец с щора',
                  y: 22
                }, {
                  name: 'Прозорец с решетка',
                  y: 21
                }]
              }]
            });

            Highcharts.chart('parter-pie-container', {
              chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                type: 'pie'
              },
              title: {
                text: 'Партерен етаж'
              },
              tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
              },
              plotOptions: {
                pie: {
                  allowPointSelect: true,
                  cursor: 'pointer',
                  dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                    style: {
                      color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                  }
                }
              },
              series: [{
                name: 'Прозорци',
                colorByPoint: true,
                data: [{
                  name: 'Прозорец',
                  y: 100,
                  sliced: true,
                  selected: true
                }, {
                  name: 'Прозорец с щора',
                  y: 22
                }, {
                  name: 'Прозорец с решетка',
                  y: 21
                }]
              }]
            });

        </script>
    </div>

{% endblock %}
