<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>Архитектурното наследство ?</title>
    <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.1/themes/base/jquery-ui.css"/>
    <link href="{{ asset('css/style.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">

    <link href="https://fonts.googleapis.com/css?family=Architects+Daughter" rel="stylesheet">


    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>



    <script src="{{ asset('plugins/sel/photo.js') }}"></script>
    <script src="{{ asset('plugins/sel/rect.js') }}"></script>

    <link rel="stylesheet" type="text/css" href="/assets/plugins/sel/style.css">
    <script src="{{ asset('vendor/jquery/jquery.min.js') }}"></script>
    <script src="/assets/plugins/sel/photo.js"></script>
    <script src="/assets/plugins/sel/rect.js"></script>
    <script src="/assets/plugins/sel/itemsList.js"></script>
    <script src="/assets/plugins/sel/app.js"></script>

</head>

<body>

{% include 'partial/header.html.twig' %}

    {% block body %}{% endblock %}

{% include 'partial/footer.html.twig' %}

<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

</body>

</html>