<footer class="py-5 bg-dark mt-20">
    <p class="m-0 text-center text-white">
        <a href="https://github.com/vision-sofia/arcnas" target="_blank"><img src="{{ asset('/images/github_logo_32.png') }}"></a>
    </p>
</footer>